section {
	padding: 2em !important;
}
body {
	background-color: #101D2A;
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}
.hidden.menu {
	display: none;
}
.masthead .menu .image.tiny {
	height: 65px;
}
.masthead-image.segment {
	min-height: 740px;
	background-image : url('../images/Prestabg.jpg') !important;
	background-size: cover !important;
	background-position: center center !important;
}

.masthead.segment {
	padding: 1em 0em;
	background-color: transparent !important;
}
.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}
.masthead h1.ui.header {
	margin-top: 3em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}
.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
	padding-bottom: 2em;
}
.ui.vertical.stripe {
	padding: 8em 0em;
}
.ui.vertical.stripe h3 {
	font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
	margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
	clear: both;
}
.ui.vertical.stripe p {
	font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}
.quote.stripe.segment {
	padding: 0em;
}
.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}
.footer.segment {
	padding: 5em 0em;
	background-image: url('../images/footer_lodyas.png') !important;
	background-size: cover !important;
	background-attachment: fixed !important;
	background-position: center center !important;
}
.secondary.pointing.menu .toc.item {
	display: none;
}
.ui.secondary.inverted.pointing.menu {
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	padding-bottom: 10px;
}
@media only screen and (max-width: 700px) {
	.ui.fixed.menu {
		display: none !important;
	}
	.secondary.pointing.menu .item,
	.secondary.pointing.menu .menu {
		display: none;
	}
	.secondary.pointing.menu .toc.item {
		display: block;
	}
	.masthead.segment {
		min-height: 350px;
	}
	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}
	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1.5em;
	}
}

.ui.shape.text {
	min-height: 3.2em;
	display: block;
	font-size: 1.7em;
	font-weight: normal;
	padding-bottom: 2em;
}
.ui.header.side {
	color: rgba(255,255,255,.9);
}

.xdebug-var-dump {
	color: white;
}

.attached-label {
	position: absolute;
	z-index: 1;
	background-color: white;
	padding: 5px 10px;
}

.shopping-cart {
	width: 17%;
	background-color: rgba(0, 0, 0, 0.9);
	border: 2px solid #CCC;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	position: fixed;
	z-index: 15;
    min-width: 300px;
	right: 0;
	margin-top: -80px;
    transform: translateX(100%);
	transition: transform 400ms linear 1s;
}
.shopping-cart-content {
	height: 100%;
	padding: 20px;
	color: #CCC;
	text-align: center;
}
.shopping-cart-btn {
	display: inline-block;
	position: absolute;
	width: 60px;
	height: 60px;
	margin-left: -60px;
	margin-top: 20px;
	border: 2px solid #CCC;
	background-color: rgba(156, 203, 91, 0.45);
	cursor: pointer;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-size: cover;
}
.shopping-cart:hover, .shopping-cart.open {
	transform: translateX(0);
	transition: transform 400ms linear 0s;
}
.shopping-cart-btn:before, .shopping-cart-btn:after {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 1;
	background-size: cover;
}
.shopping-cart-btn:before {
	background-image: url(../images/shopping-cart.png);
	z-index: 1;
	transition: opacity 200ms linear 100ms;
}
.shopping-cart-btn:after {
	background-image: url(../images/shopping-card-arrow.png);
}
.shopping-cart:hover .shopping-cart-btn:before, .shopping-cart.open .shopping-cart-btn:before {
	opacity: 0;
}
.shopping-cart-content div {
	display: block;
}
.shopping-cart-content div:not(:last-child) {
	margin-top: 6px;
}
.shopping-cart-content h3 {
	margin-bottom: 0.14285em !important;
}
.shopping-cart-content div span {
	display: inline-block;
	font-size: 1.2em;
}
.shopping-cart-content div span:nth-child(1) {
	width: 73%;
	text-align: left;
/*	padding-left: 7%;*/
}
/*.shopping-cart-content div span:nth-child(1):before {
	content: "";
	display: list-item;
	list-style-type: disc;
	margin-bottom: -1.2em;
}*/
.shopping-cart-content div .delete-icon {
	margin-right: 7%;
	font-size: 1.5em;
	vertical-align: top;
	color: #ccc;
}
.shopping-cart-content div .delete-icon:hover {
	color: #888;
}
.shopping-cart-content div span:nth-child(2) {
	text-align: right;
	width: 27%;
	padding-right: 3%;
}

.card img{
    background-size: cover !important;
}


.nomPresta{
	text-align: center;
	color: black;
}

.imgPresta{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.descriptionPresta p{
	text-align: center;
	color: black;
	font-size : 2em;
}

.prixPresta{
	text-align: center;
	font-size: 2em;
}

.notePresta{
	display: block;
	margin-left: auto!;
	margin-right: auto!;
	text-align: center;
}

ui.card{
  margin: 0.85px !important;
  padding: 1em !important;
}

.Presta{
	padding: 0;
	margin: 2em;
}
.Presta > div {
	background-color: white;
}
.PrestaAlea h3 {
	text-align: center;
}
.gauchePresta{
	float: left;
	width: 60%;
	background-color: white;
}
.gauchePresta img{
	max-width: 100%;
	height: auto;
}

.droitePresta{
	float: right;
	width: 40%;
	background-color: #F0F0F0;
	padding: 1em;
}

.external-link > .icon.external {
	visibility: hidden;
}
.external-link:hover > .icon.external {
	visibility: visible;
}

ui.selection.dropdown.active, .ui.selection.dropdown.visible {
    z-index: 20;
}


.js .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.no-js .inputfile + label {
    display: none;
}
.inputfile + label {
	max-width: 80%;
	font-size: 1.25rem;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	text-align: center;
	margin: 0 auto !important;
	display: inline-block;
	overflow: hidden;
	padding: 0.625rem 1.25rem;
	color: #f1e5e6;
	border: 2px solid #d3394c;
	transition: background-color 150ms linear;
}
.inputfile:focus + label,
.inputfile + label:hover {
	background-color: #e07481;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label svg {
	vertical-align: middle;
	fill: currentColor;
	margin-top: -0.25em; /* 4px */
	margin-right: 0.25em; /* 4px */
}
#image-upload-preview {
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: none;
}













.ccard {
	overflow: hidden;
	width: 370px;
	display: inline-block;
	position: relative;
	background-color: #fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s; }
	.ccard a {
		color: inherit;
		text-decoration: none; }

.ccard:hover {
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3); }

.ccard__date {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 45px;
	height: 45px;
	padding-top: 10px;
	color: #FFF;
	text-align: center;
	line-height: 23px;
	font-weight: bold;
	background-color: #38c4a5;
	border-radius: 50%; }
	.ccard__date__day {
		display: block;
		font-size: 14px; }
	.ccard__date__month {
		display: block;
		font-size: 10px;
		text-transform: uppercase; }

.ccard__thumb {
	height: 235px;
	overflow: hidden;
	background-color: #000;
	transition: height 0.3s; }
	.ccard__thumb img {
		width: 100%;
		display: block;
		opacity: 1;
		transition: opacity 0.3s, -webkit-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
				transform: scale(1); }
.ccard:hover .ccard__thumb img {
	opacity: 0.6;
	-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
			transform: scale(1.2); }
	.ccard:hover .ccard__thumb {
    	height: 190px; }

.ccard__body {
	position: relative;
	padding: 20px;
	height: 125px;
	transition: height 0.3s; }
	.ccard:hover .ccard__body {
		height: 170px; }

.ccard__category {
	position: absolute;
	left: 0;
	top: -25px;
	height: 25px;
	padding: 0 15px;
	color: #FFF;
	font-size: 11px;
	line-height: 25px;
	text-transform: uppercase;
	background-color: #38c4a5; }

.ccard__title {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 22px;
	color: #000;
	font-weight: bold; }
	.ccard:hover .ccard__title {
		-webkit-animation: titleBlur 0.3s;
				animation: titleBlur 0.3s; }

.ccard__subtitle {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 19px;
	color: #38c4a5; }
	.ccard:hover .ccard__subtitle {
		-webkit-animation: subtitleBlur 0.3s;
				animation: subtitleBlur 0.3s; }

.ccard__description {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 65px;
	margin: 0;
	padding: 0;
	color: #666C74;
	font-size: 14px;
	line-height: 27px;
	opacity: 0;
	transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	transition-delay: 0s;
	-webkit-transform: translateY(25px);
		-ms-transform: translateY(25px);
			transform: translateY(25px); }
	.ccard:hover .ccard__description {
		opacity: 1;
		transition-delay: 0.1s;
		-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
				transform: translateY(0); }

.ccard__footer {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	font-size: 11px;
	color: #A3A9AB; }
	.ccard__footer .cicon--comment {
		margin-left: 12px; }

.cicon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px; }

.cicon--comment {
	background: url(../img/icon-comment.png);
	width: 14px;
	height: 14px;
	margin-top: -2px; }

.cicon--time {
	background: url(../img/icon-time.png);
	width: 10px;
	height: 17px;
	margin-top: -3px; }

@-webkit-keyframes titleBlur {
	0% {
		opacity: 0.6;
		text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6); }

	100% {
		opacity: 1;
		text-shadow: 0px 5px 5px transparent; } }

@keyframes titleBlur {
	0% {
		opacity: 0.6;
		text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6); }

	100% {
		opacity: 1;
		text-shadow: 0px 5px 5px transparent; } }

@-webkit-keyframes subtitleBlur {
	0% {
		opacity: 0.6;
		text-shadow: 0px 5px 5px rgba(56, 196, 165, 0.6); }

	100% {
		opacity: 1;
		text-shadow: 0px 5px 5px rgba(56, 196, 165, 0); } }

@keyframes subtitleBlur {
	0% {
		opacity: 0.6;
		text-shadow: 0px 5px 5px rgba(56, 196, 165, 0.6); }

	100% {
		opacity: 1;
		text-shadow: 0px 5px 5px rgba(56, 196, 165, 0); } }
