/*   GENERAL   */
*{
    margin: 0;
    padding: 0;
}


.point{
    color:orange;
}


h1{
    font-family: 'Crete Round',ARIAL,serif;
    font-size: 45px;
    color: #444;
}

body{
    font-family: ARIAL,sans-serif;
    font-size: 15px;
}

header{
    height: 120px;
}
h3{
    font-size: 30px;
    color:#444;
}

.wrapper{
    width: auto;
    margin:0 auto;
    padding: 0 10px;
}

.clear{
    clear:both;
}
h2{
    color:#444;
    font-size: 55px;
}

h4{
    font-size: 24px;
    color:#444;
    
}

p{
    line-height: 20px;
    color:#777;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#444;
}

small{
    font-size: 13px;
    font-style: italic;
}
/* DEBUT HEADER */
header nav{
    color:#444;
    margin-top: 48px;
    float:right;
}

header nav ul li {
    float:left;
     display: inline-block;
     text-transform: uppercase;
    margin-right: 20px;
}

header nav ul li a{
     text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

header h1{
    margin-top: 32px;
    float:left;
}

/* FIN HEADER */

/* DEBUT CONTENU */

#main-image{
    height: 580px;
    /* background: url(images/Prestabg2.jpg) no-repeat  center; */
    background-size: cover !Important;
}

#main-image h2{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding:150px 0px 40px 0px;
    margin-bottom: 20px;
}

.button-1{
    width: 120px;
    height: 50px;
    display: block;
    background-color: #ff7a00;
    color:#fff;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    
}

.button-1:hover{
    background-color: #02b8d2;
}

/* FIN CONTENU */

/* DEBUT STEPS */

#steps ul{
       margin: 80px 0;
}

#steps ul li{
    text-align: center;
    margin-right:10px;
    width:300px;
    float: left;
    padding-top: 140px;
}

#steps h4{
    text-transform: uppercase;
    margin-bottom: 20px;
}

#steps p{
    margin-bottom: 20px;
}

#steps-1{
    background: url(images/steps-icon-1.png) no-repeat top center;
    
}

#steps-2{
    background: url(images/steps-icon-2.png) no-repeat top center;
}

#steps-3{
    background: url(images/steps-icon-3.png) no-repeat top center;
    
}

/* FIN STEPS */

/* DEBUT POSSIBILITIES */

#possibilities{
    background-color: #efefef;
	background-size: cover;
    padding: 60px 0;
}

#possibilities article{
    width: 460px;
    float: left;
    height: 270px;
    border-radius: 10px;
	
    
}

#possibilities article:first-child{
    margin-right: 20px;
	background-size: cover;
}

.overlay{
    box-sizing: border-box;
    background:rgba(255,255,255,0.95);
    height:100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center
}

article h4{
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#possibilities p{
    text-align: center;
    margin-bottom: 20px;
}

.button-2{
    background-color: #ff7a00;
    color:#fff;
    padding: 6px 20px;
    border-radius: 3px;
}

.button-2:hover{
    background-color: #02b8dd;

}

/* FIN POSSIBILITIES */

/* DEBUT CONTACT */

#contact{
    padding: 60px 0px;
    text-align: center;
    display: block;
    
}

#contact h3{
    margin: 0 auto 20px auto;
    width: 500px;
    text-transform: uppercase;
    border-bottom: 1px solid #02b8dd;
    padding-bottom: 20px;
}


form{
    margin: 60px 0px 20px 0px;
}

label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777
}

input[type=text]{
    margin: 5px  auto;
    padding:10px;
    font-size: 20px;
    display: block;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 3px;
}

.button-3{
    margin-top: 10px;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    background-color: #02b8bd;
    padding: 11px;
    border-style: none;
    border-radius: 3px;
}

.button-3:hover{
    background-color: #444;
}

#textarea{
    
   /* display: inline-block;*/
    
    
}

#message{
    margin: 10px auto;
    display: block;
}

#labmessage{
    display: block;
    margin-top: 30px;
}

/* FIN CONTACT */

/* DEBUT FOOTER */

footer{
    height: 260px;
    background-color: #444;
}

footer h1{
    color:#fff;
    text-align: center;
    padding-top: 80px;
}



.copyright{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color:#777;
}